{%- liquid
    assign blockid = block.id
    assign subheading = block.settings.subheading

    assign background_color = block.settings.background_color

    assign display_options = block.settings.display_options
    assign padding_top = block.settings.padding_top
    assign padding_bottom = block.settings.padding_bottom
    assign position = block.settings.position

    assign mb_font_size = block.settings.mb_font_size
    assign scaled_font_size = block.settings.font_size | times: mb_font_size | round
    assign line_height = block.settings.line_height
    assign letter_spacing  = block.settings.letter_spacing
  -%}
{% style %}
.flexi-subheading-block {
  display: flex; 
  height: 100%; 
  width: 100%; 
}
.flexi-subheader-{{ blockid }} span {
    display: block;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%; /* This will make the font size the same as the parent element */
    vertical-align: baseline;
    color: inherit;
    background: none;
    text-decoration: none;
    text-align: inherit;
    {% if block.settings.full_width %}
      width: 100%;
    {% else %}
     width: fit-content;
    {% endif %}
}

.flexi-subheader-{{ blockid }} {
  margin: 0px;
  font-size: {{ block.settings.font_size }}px !important; 
  color: {{ block.settings.font_color }};
  line-height: {{ line_height | times: 0.01 | plus: 1 }}em;
  letter-spacing: {{ letter_spacing | times: 0.01 }}rem;
}
@media (max-width: 768px) {
  .flexi-subheader-{{ blockid }} {
    font-size: {{ scaled_font_size }}px !important;
  }
}

/* TEMPLATE STYLES */
.flexi-subheader-{{ blockid }} span {
  {% if background_color != blank and background_color != 'rgba(0,0,0,0)' %}
    background-color: {{ background_color }};
    border-radius: {{ block.settings.border_radius }}px;
    padding: {{ block.settings.height }}px 8px;
  {% endif %}
}

.flexi-subheader-{{ blockid }} span {
  text-indent: {{ letter_spacing | times: 0.01 }}rem;
  {% case position %}
    {% when 'left' %}
      margin-left: 0px;
    {% when 'center' %}
      margin: 0px auto;
      text-align: center;
  {% endcase %}
}

{% endstyle %}

<div 
  class="flexi-subheading-block {{ display_options }}" 
  style="padding-top: {{ padding_top }}px; 
  padding-bottom: {{ padding_bottom }}px; 
  "
>
    <div class="flexi-wrapper--{{ blockid }}" style="text-align: center; width: 100%;">
        <h4 id="flexi-subheader" class="flexi-subheader-{{ blockid }}"><span>{{ subheading }}</span></h4>
    </div>
</div>