{%- liquid
    assign blockid = block.id

    assign line_height = block.settings.line_height
    assign letter_spacing  = block.settings.letter_spacing

    assign mb_font_size = block.settings.mb_font_size
    assign scaled_font_size = block.settings.font_size | times: mb_font_size | round

    assign json_data = shop.metafields.flexi.flexistyling.value
    assign accentColor = json_data.accentColorHex

    if json_data == blank
      assign accentColor = '#002FE6'
    endif
-%}

{% style %}
.flexi-description-block {
  display: flex; 
  height: 100%; 
  width: 100%;
}

#flexi-description-{{ block.id }} p {
    font-size: {{ block.settings.font_size }}px;
    color: {{ block.settings.font_color }};
    line-height: {{ line_height | times: 0.01 | plus: 1 }}em;
    letter-spacing: {{ letter_spacing | times: 0.01 }}rem;
}

#flexi-description-{{ block.id }} a {
    color: {{ accentColor }};
    transition: opacity 0.3s ease;
}
#flexi-description-{{ block.id }} a:hover {
    opacity: 0.7;
}

.bl-description-{{ block.id }} p {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    color: inherit;
    background: none;
    text-decoration: none;
    text-align: inherit;
}

@media (max-width: 768px) {
  #flexi-description-{{ block.id }} p {
    font-size: {{ scaled_font_size }}px;
  }
}

{% endstyle %}

<div class="flexi-description-block {{ block.settings.display_options }}" style="justify-content: {{ block.settings.justify_content }}; padding-top: {{ block.settings.padding_top }}px; padding-bottom: {{ block.settings.padding_bottom }}px;">
    <div class="bl--block-wrapper--{{ blockid }}" style="text-align: {{ block.settings.text_align }}; max-width: {{ block.settings.max_width }}px;">

        <div class="bl-description-component-{{ block.id }}">
            <span id="flexi-description-{{ block.id }}" class="bl-description-{{ block.id }}">{{ block.settings.description }}</span>
        </div>

    </div>
</div>